KCP_KUBECONFIG=/Users/I762675/github.com/platform-mesh/helm-charts/.secret/kcp/admin.kubeconfig
OPENSEARCH_INSECURE=true
OPENSEARCH_PASSWORD=admin
OPENSEARCH_USERNAME=admin
OPENSEARCH_URL=https://opensearch.portal.localhost:8443