# This needs to be an admin KCP kubeconfig (not the kind cluster resource)
KCP_KUBECONFIG=
OPENSEARCH_INSECURE=true
OPENSEARCH_PASSWORD=admin
OPENSEARCH_USERNAME=admin
OPENSEARCH_URL=https://opensearch.portal.localhost:8443
SEARCHABLE_RESOURCE_RESOURCES={core.platform-mesh.io,v1alpha1,Account},{core.platform-mesh.io,v1alpha1,AccountInfo},{metadata.dxp.sap.com,v1alpha1,APIDefinitionAutomation},{metadata.dxp.sap.com,v1alpha1,APIDefinition},{metadata.dxp.sap.com,v1alpha1,BoundedContextAutomation},{metadata.dxp.sap.com,v1alpha1,BoundedContext},{metadata.dxp.sap.com,v1alpha1,Commit},{metadata.dxp.sap.com,v1alpha1,ComponentAutomation},{metadata.dxp.sap.com,v1alpha1,Component},{metadata.dxp.sap.com,v1alpha1,ProjectMetadataAutomation},{metadata.dxp.sap.com,v1alpha1,ProjectMetadata},{metadata.dxp.sap.com,v1alpha1,ReprocessRequest},{metadata.dxp.sap.com,v1alpha1,TeamMetadataAutomation},{metadata.dxp.sap.com,v1alpha1,TeamMetadata}